
// _base.scss
// ==============

/***********************************
** reset Dom, set defualt font 
************************************/
html body{
  color: $darkBlue;
  font-family: $mainfont;
  font-size: 14px;
  background: #f9f9fb;
}
::selection { /* Code for Firefox */
  color: #fff;
  background: $blueColor;
}
::-moz-selection { /* Code for Firefox */
  color: #fff;
  background: $blueColor;
}
a{
  color: $darkGray;
  transition: all 0.3s ease;
}
.font-bold{
  font-weight: bold;
}
a:hover{
  color: $blueColor;
  text-decoration: none;
}
p{
  font-size: 14px;
  line-height: 23px;
  font-weight: 300;
  opacity: 0.8;
}
ul {
  margin: 0;
  padding: 0;
}
.light-grey {
  opacity: 0.4;
}
.dark-grey{
  opacity: 0.6;
}
.grey-color{
  color: $greyColor;
}
.h1, h1 {
  font-size: 2.3rem;
  font-weight: 600;
  line-height: 1.7em;
  color: $darkBlue;

}
.font-normal {
  font-weight: 600;
}
body .h1, body h1 {
  font-size: 2.3rem;
  font-weight: 600;
}
.h3,body h3,.h2,body h2 {
  font-size: 2.1rem;
  line-height: 3rem;
  font-weight: 600;
}
.h-100{
  height: 100vh !important;
}
.border-grey-top{
  border-top: 1px solid #eee;
}
.border-top{
  border-top: 1px solid #E0F3FF !important;
}
.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: #477bd2;
}
